# file type

*.rec
*.dat
*.bin
*.mda
*.asv
*.npy
*.tsv
*.phy

# folder- anything with data in name/content

data.*
data
logs/**
logs/
logs*
data/
data/*
data/**
data/*/*/*/*/*/*/*/*/*/*
data/**/
data\
data\*
data\**
data\**\
data\*\*\*\*\*\*\*\*\*\*\*
